annotated-types
anyio
click
coverage
databases
Deprecated
fastapi
flake8
h11
idna
importlib_resources
iniconfig
limits
mccabe
mypy
mypy-extensions
packaging
pluggy
prometheus-fastapi-instrumentator
prometheus_client
psycopg2-binary
pycodestyle
pydantic
pydantic_core
pyflakes
pytest
pytest-cov
python-dotenv
slowapi
sniffio
SQLAlchemy
starlette
typing_extensions
uvicorn
wrapt
asyncpg 